<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Основные позитивные тесты">
    <test name="GET запросы">


        <groups>
            <run>
                <include name="get.requests"/>
            </run>
        </groups>
        <classes>
            <class name="TaskTests"></class>
        </classes>


    </test>
    <test name="POST, DELETE запросы">
        <groups>
            <run>
                <exclude name="get.requests"/>
            </run>
        </groups>
        <classes>
            <class name="TaskTests"></class>
        </classes>


    </test>
</suite>
