<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Тестирование Task">
    <test name="Основные позитивные тесты" allow-return-values="true">

        <classes>
            <class name="comments.MainCommentPositiveTests"></class>
        </classes>

    </test>
</suite>
